/* GERAL */
body{
    margin: 0 !important;
    padding: 0 !important;
}

.my_invisivel{
    margin: 0;
    _margin-bottom:0 !important;
    padding: 0;
    height: 0;
}

.img_interna_modal{
    _margin: 5px;
    width: 100%;
    height: auto;
    margin: 5px auto;
    text-align: center;
    border-radius: 15px;
    _border: salmon solid 10px;
    _border: thin solid;
    _filter: contrast(1.8) brightness(1.5) grayscale(1);
    _box-shadow: 0 0 450px rgb(39, 37, 38) inset;
}

.modal-content {
    margin: 0 auto;
    text-align: center;
}

main{
    margin: 0;
    padding: 0;
    background-color: greenyellow;
}

.my_txt-light{
    color: white;
}

.modal-dialog-scrollable .modal-content{
    width: 700px;
}

/****************************** BARRA DE MENU */
.mylink{
    list-style-type: none;
}


.sec_init{
    color: blue;
}

.sec_proj{
    color: crimson;
}

.sec_perfil{
    color: darkorange;
}

.sec_contat{
    color: darkgreen;
}

.sec_divers{
    padding: 0;
    margin: 0;
    color: darkslategrey!important;
}

.page-scroll{
    text-decoration: none;

}

/* CARROSSEL */
#slider{
    background-image: url("../img/bgs/pattern.png");
    background-color:#2873B5;
}


.gad_carousel{
    margin-bottom: 0!important;
}


/* PROJETOS */

.my_projetos{
    _height: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0px;
    background-image: url("../img/bgs/bg86.png");
    background-color:rgba(238, 63, 63, 0.486);

}

.titulo_projetos{
    padding-top: 20px;
    padding-bottom: 20px;
    color:crimson;
}

.my_projetos .card{
    min-height: 300px;
}

.my_projetos .card p{
    _color: crimson;
    margin-top: -10px;
}

.my_img_proj img {
    _width: 200px;
    _height: auto;
    _border: crimson 10px solid;
    border: none;
}

/* PERFIL */
.my_perfil{
    _height: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
    background-image: url("../img/bgs/body-bg34.png");
    background-color: #333;
}

.titulo_perfil{
    padding-top: 10px;
    color:darkorange;
}

.w-30{width: 30%;}
.w-35{width: 35%;}
.w-55{width: 55%;}
.w-65{width: 65%;}
.w-85{width: 85%;}
.w-95{width: 95%;}

/* CONTATO */
.my_contato{
    padding: 0;
    margin: 0;
    background-image: url("../img/bgs/bg86.png");
    min-height: 400px;
    background-color:rgba(58, 129, 58, 0.856);
}
.titulo_contato{
    padding-top: 10px;
    color:green;
}
.my_textarea{
    height: 236px !important;
}

.my_socialIcones  img {
    height: 70px;
    width: auto;
}

/* RODAPÉ */
.my_rodape{
    padding: 0;
    margin: 0;
    _background-color:#333;
    background-image: url("../img/bgs/bg1.png");
    min-height: 400px;
}

.my_iconerodape1 a {
    text-decoration: none;
    color: darkorchid;
    margin: 10px;
}

.my_iconerodape2 a {
    text-decoration: none;
    color:gray;
    margin: 10px;
}

.my_iconerodape3 a {
    text-decoration: none;
    color:goldenrod;
    margin: 10px;
}

/*
old css 
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
*/
